{% extends 'base.html' %}

{% block content %}
    <style>
        h2{
            margin-bottom: 20px;
            margin-top: 60px;
        }
        p{
            font-size: 1.2rem;
            line-height: 220%;
        }
        ul{
            font-size: 1.2rem;
        }

    </style>

    <div class="container-fluid bg-light p-0 border">
        <div class="container pb-3 py-5 px-sm-5 px-4 px-lg-3 pt-0">
    
            <div class="text-center pt-5 mb-3 pb-3">
                <h6 class="text-dark text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                <h1>About Traveler</h1>
            </div>
            
            <p class="indent">At Traveler, we transform your travel dreams into reality with expertly crafted tour packages, comprehensive travel guides, and seamless visa assistance. Our dedicated team ensures every detail is tailored to your needs, making every trip unforgettable. Let us be your guide to new adventures and unforgettable experiences. We are proud to have:</p>
            <div class="row">
                <div class="col-md-4 p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">10,000+</span>
                        <span class="w-75 text-center">Served customers worldwide until now</span>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">500+</span> 
                        <span class="w-75 text-center">Tour packages across various destination</span>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">100+</span> 
                        <span class="w-75 text-center">Suppliers to ensure the best deals and services</span>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">200+</span> 
                        <span class="w-75 text-center">Beautiful cities to travel to worldwide</span>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">15%</span> 
                        <span class="w-75 text-center">Average saving on travel bookings</span>
                    </div>
                </div>
                <div class="col-md-4 p-3 h-100">
                    <div class="d-flex flex-column align-items-center justify-content-center rounded-xl border px-3 py-5">
                        <span class="font-weight-bolder text-dark fa-2x">95%</span> 
                        <span class="w-75 text-center">customer contentment and approval</span>
                    </div>
                </div>
            </div>
            
            <h2>What We Do</h2>
            <p>We offer a comprehensive range of travel services, including:</p>
            <ul class="row p-0 m-0">
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-box mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Expertly crafted tour packages for individuals, groups, and corporates
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-plane mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Flight and hotel bookings with exclusive deals and discounts
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-clipboard-list mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Travel documentation assistance, including visas and travel insurance
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-map-marker-alt mx-auto text-warning mb-3"></i>
                    
                    <span class="d-block">
                        Local experiences and activities that showcase the authentic essence of destinations
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-taxi mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Transportation services, including airport transfers and car rentals
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-lightbulb mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Travel advisory services, providing safety tips, weather updates, and destination insights
                    </span>
                </li>
            </ul>
    
            <!-- <section class="w-100 py-4 py-xl-8">
                <div class="w-100 overflow-hidden">
                    <div class="row" style="gap: 0px;">
        
                        <div class="col-12 col-md-8 p-1">
                            <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                <div>
                                    <img class="img-fluid bsb-scale-up bsb-hover-scale" src="./img/destination-1.jpg" alt="Adventure">
                                </div>
                            </figure>
                        </div>
        
                        <div class="col-12 col-md-4 d-flex flex-column p-0">
                            <div class="w-100 p-1">
                                <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                    <div>
                                        <img class="img-fluid" src="./img/destination-2.jpg" alt="Adventure">
                                    </div>
                                </figure>
                            </div>
                    
                            <div class="w-100 p-1">
                                <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                    <div>
                                        <img class="img-fluid " src="./img/destination-3.jpg" alt="Photography">
                                    </div>
                                </figure>
                            </div>
                        </div>
                
                        
                        <div class="col-12 col-md-4 d-flex flex-column p-0">
                            <div class="w-100 p-1">
                                <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                    <div>
                                        <img class="img-fluid bsb-scale-up bsb-hover-scale" src="./img/destination-5.jpg" alt="Design">
                                    </div>
                                </figure>
                            </div>
                    
                            <div class="w-100 p-1">
                                <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                    <div>
                                        <img class="img-fluid bsb-scale-up bsb-hover-scale" src="./img/destination-6.jpg" alt="Photography">
                                    </div>
                                </figure>
                            </div>
                        </div>
        
                        <div class="col-12 col-md-8 p-1">
                            <figure class=" overflow-hidden bsb-overlay-hover m-0">
                                <div>
                                    <img class="img-fluid" src="./img/destination-4.jpg" alt="Design">
                                </div>
                            </figure>
                        </div>
                
                        
                    </div>
                </div>
            </section> -->
            
            <h2>What We Offer</h2>
            <p>Our commitment to excellence and customer satisfaction has enabled us to offer:</p>
            <ul class="row p-0 m-0">
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-money-bill-alt mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Unbeatable prices without compromising on quality
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-user-friends mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Personalized travel plans tailored to individual preferences
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-train mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Seamless and hassle-free travel experiences
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-map-marked-alt mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Access to a vast network of destinations worldwide
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 p-3 mb-5 list-unstyled">
                    <i class="fa fa-2x fa-headset mx-auto text-warning mb-3"></i>
                    <span class="d-block">
                        Expert guidance and support throughout the travel journey
                    </span>
                </li>
            </ul>
            
            <h2>Solutions We Provide</h2>
            <p>By choosing Travelers, our customers can:</p>
            <ul class="p-0 m-0" style="line-height: 220%;">
                <li class="list-unstyled px-5 p-3 border-bottom"><span class="mr-3">1. </span> Save time and effort in planning their travels</li>
                <li class="list-unstyled px-5 p-3 border-bottom"><span class="mr-3">2. </span>Enjoy stress-free travel experiences with our expert support</li>
                <li class="list-unstyled px-5 p-3 border-bottom"><span class="mr-3">3. </span>Discover new destinations and experiences that they may not have considered otherwise</li>
                <li class="list-unstyled px-5 p-3 border-bottom"><span class="mr-3">4. </span>Benefit from our extensive network and partnerships to get the best deals</li>
                <li class="list-unstyled px-5 p-3 border-bottom"><span class="mr-3">5. </span>Create lifelong memories with our carefully curated travel experiences</li>
            </ul>
            
            <h2>How We Help Our Users</h2>
            <p>At Travelers, we believe that travel has the power to transform lives. Our services are designed to:</p>
            <ul class="row p-0 m-0">
                <li class="col-md-4 col-sm-6 col-12 mb-5 p-5 border-right list-unstyled">
                    <span class="d-block">
                        Inspire and educate our customers about new destinations and experiences
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 mb-5 p-5 border-right list-unstyled">
                    <span class="d-block">
                        Provide opportunities for personal growth and development through travel
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 mb-5 p-5 list-unstyled">
                    <span class="d-block">
                        Foster connections and relationships through shared travel experiences
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 mb-5 p-5 border-right list-unstyled">
                    <span class="d-block">
                        Offer a platform for customers to explore and discover their passions and interests
                    </span>
                </li>
                <li class="col-md-4 col-sm-6 col-12 mb-5 p-5 list-unstyled">
                    <span class="d-block">
                        Deliver exceptional value and satisfaction, exceeding customer expectations
                    </span>
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}