{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9VY6N6G72S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9VY6N6G72S');
    </script>

      <!-- Favicon -->
  <link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href={% static "img/Logo.png" %}
/>
    
    <meta charset="utf-8">
    <title>TRAVELER - A place for all your travel needs.</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href='{% static "img/favicon.icon" %}' rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Libraries Stylesheet -->
    <link href='{% static "lib/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">
    <!-- <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" /> -->

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">

    <style>
        .nav-item:hover span{
            color: #ffc107;
        }
        .message-content *:not(h1,h2,h3,h4,h5,h6){
            font-weight: 500;
        }

        .message-content *:not(h1,h2,h3,h4,h5,h6){
            font-size: 0.9rem;
        }
        .message-content strong{
            color: black;
            font-weight: bold;
        }
        .message-content h3{
            margin: 18px 0px;
            color: black;
        }
        .message-content h4{
            margin: 15px 0px;
        }
        .message-content h5, .message-content h6{
            margin: 12px 0px;
        }
        .message-content ol, .message-content ul{
            margin: 18px 0px;
        }
        .message-content ol li, .message-content ul li{
            margin: 12px 0px ;
        }
        .message-content p{
            margin-bottom: 18px;
            text-wrap: pretty;
        }
        .message-content a{
            text-wrap: pretty;
        }
    </style>
</head>

<body>

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0 bg-white">
        <div class="position-relative p-0 border-b mx-auto" style="z-index: 9; max-width: 1800px;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light border-bottom py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="{% url "index-view" %}" class="navbar-brand">
                    <h2 class="m-0 text-warning" style="font-size: 2rem;"><span class="text-dark">TRAVEL</span>ER</h2>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href={% url "index-view" %} class="nav-item nav-link">
                            <span>Home</span>
                        </a>
                        <a href={% url "about-view" %} class="nav-item nav-link"><span>About</span></a>
                        <a href={% url "service-view" %} class="nav-item nav-link"><span>Services</span></a>
                        <a href={% url "blog-view" %} class="nav-item nav-link"><span>Blogs</span></a>
                        <a href={% url "contact-view" %} class="nav-item nav-link"><span>Contact</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    {% block content %}

    {% endblock content %}


    {% include 'chatbot.html' %}

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5">
        <div class="d-flex flex-lg-row flex-column align-items-center justify-content-center pt-5">
            <div class="w-100 px-3 mb-5">
                <a href="{% url "index-view" %}" class="navbar-brand">
                    <h1 class="text-warning"><span class="text-white">TRAVEL</span>ER</h1>
                </a>
                <p style="max-width: 400px;">This is a demo site to showcase the capabilities of lawa.ai's user query assistance chatbot.</p>
                <!--<h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>-->
                <!--<div class="d-flex justify-content-start">-->
                <!--    <a class="btn btn-outline-warning btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>-->
                <!--    <a class="btn btn-outline-warning btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--    <a class="btn btn-outline-warning btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
                <!--    <a class="btn btn-outline-warning btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
                <!--</div>-->
                <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                    <!--<p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>-->
                    <!--<p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>-->
                    <p><i class="fa fa-envelope mr-2"></i>contact@lawa.app</p>
            </div>

            <div class="w-100 d-flex flex-row justify-content-end px-3 mb-5">
                <div class="w-100 d-flex flex-column justify-content-end"></div>
                <div class="w-100 mb-5">
                    <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Usefull Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="{% url 'landing-page-view' %}"><i class="fa fa-angle-right mr-2"></i>Home</a>
                        <a class="text-white-50 mb-2" href="{% url 'about-view' %}"><i class="fa fa-angle-right mr-2"></i>About</a>
                        <a class="text-white-50 mb-2" href="{% url 'service-view' %}"><i class="fa fa-angle-right mr-2"></i>Services</a>
                        <a class="text-white-50 mb-2" href="{% url 'tour-package-view' %}"><i class="fa fa-angle-right mr-2"></i>Packages</a>
                        <a class="text-white-50 mb-2" href="{% url 'travel-guide-view' %}"><i class="fa fa-angle-right mr-2"></i>Guides</a>
                        <a class="text-white-50" href="{% url 'blog-view' %}"><i class="fa fa-angle-right mr-2"></i>Blog</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="w-100">
            <div class="w-100 text-center mb-3 mb-md-0">
                <p class="m-0 text-white-50">Copyright &copy; <a href="/">lawa.ai</a>. All Rights Reserved.</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->



    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- JavaScript Libraries -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src='{% static "lib/easing/easing.min.js" %}' ></script>
    <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
    <script src='{% static "lib/tempusdominus/js/moment.min.js" %}' ></script>
    <script src='{% static "lib/tempusdominus/js/moment-timezone.min.js" %}'></script>
    <script src='{% static "lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" %}'></script>

    <!-- Contact Javascript File -->
    <script src='{% static "mail/jqBootstrapValidation.min.js" %}'></script>
    <script src='{% static "mail/contact.js" %}'></script>

    <!-- Template Javascript -->
    <script src='{% static "js/main.js" %}' ></script>
    <script src='{% static "js/chatbot.js" %}' ></script>

</body>

</html>