
{% extends "landing_page_base.html" %}
{% load static %}

{% block content %}

    <section class="w-100 bg-transparent pb-20 bg-white pt-24">
        <div class="py-6 px-4 mx-auto max-w-screen-xl aspect-video rounded-3xl text-center lg:pb-4 lg:pt-16 lg:px-12">
            <span class="inline-flex justify-between items-center py-1 px-2 mb-1 dark:text-white">
                 <span class="font-medium text-gray-700">Empowering businesses across industries</span> 
            </span>
            <h4 class="max-w-5xl mx-auto mb-10 px-5 text-xl font-extrabold leading-loose text-gray-900 md:text-2xl lg:text-5xl dark:text-white" style="line-height: 110%;">
                Explore how lawa.ai transforms digital experiences across Industries
            </h4>
            <div class="w-100 mx-auto bg-opacity-40 mb-20">
                <div class="w-100 flex flex-col gap-10 p-4">

                    
                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4 ">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6 ">
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Intelligent Customer Support</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    Integrate LLM-powered chatbots that provide instant customer support on your website, capable of understanding and answering common queries related to your business—whether it’s product details, troubleshooting, or service inquiries.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">E-Commerce</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            LLMs can handle inquiries about product specifications, shipping times, or return policies without human intervention, reducing wait times and improving customer satisfaction.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Software Services</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            For SaaS websites, LLMs can provide real-time troubleshooting help or guide users through setup and usage questions.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Reduce the burden on human customer service teams.
                                    </li>
                                    <li class="text-base font-medium">
                                        24/7 availability.
                                    </li>
                                    <li class="text-base font-medium">
                                        Provide consistent, accurate answers with instant response times.
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/customer-support.png' %} alt="dashboard image">
                            </div>
                        </div>
                    </section>
                    
                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                            
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/product-recommendation.png' %} alt="dashboard image">
                            </div>
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Personalized Product Recommendations</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    LLM models can be used to analyze user behavior on your website and provide personalized product or content recommendations based on the user’s browsing history and preferences.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Retail Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            As users browse different products, the LLM can recommend similar items or complementary products based on past searches or purchases.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Media & Content Platforms</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Suggest relevant articles, videos, or podcasts to users based on what they’ve previously consumed, improving engagement.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Boost user engagement and retention.
                                    </li>
                                    <li class="text-base font-medium">
                                        Increase sales and conversions through personalized suggestions.
                                    </li>
                                    <li class="text-base font-medium">
                                        Create a more tailored and satisfying user experience.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </section>

                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Content Generation and Summarization</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    Websites can leverage LLMs to automatically generate content summaries or article previews to enhance readability. This can help users get a quick overview of complex content or long-form articles.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">News Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Automatically summarize breaking news or lengthy investigative articles for readers who prefer quick updates.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Corporate Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Generate concise summaries of technical reports, blogs, or whitepapers, making it easier for users to grasp the key points without sifting through the entire content.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Save time for users who prefer skimming content.
                                    </li>
                                    <li class="text-base font-medium">
                                        Encourage more clicks and engagement by giving users a "taste" of the content.
                                    </li>
                                    <li class="text-base font-medium">
                                        Streamline content creation for companies needing rapid output.
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/content-generation.png' %} alt="dashboard image">
                            </div>
                        </div>
                    </section>


                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/dynamic-faq.png' %}>
                            </div>
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Dynamic FAQ Systems</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    Build a dynamic, AI-powered FAQ section that evolves based on the queries users are actually asking. The LLM can analyze user questions and generate new FAQ responses or update existing ones automatically.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Healthcare Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Users may ask specific health-related questions, and the system can generate new answers or direct them to the appropriate content or services.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Travel Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Address travelers' common questions about destinations, visas, or booking issues by continuously updating the FAQ in real-time.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Keep FAQ sections relevant and up-to-date without manual intervention.
                                    </li>
                                    <li class="text-base font-medium">
                                        Automatically address user pain points.
                                    </li>
                                    <li class="text-base font-medium">
                                        Provide fast, accurate responses based on actual user interactions.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </section>


                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Advanced Search Engine for Content-Rich Websites</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    Use LLMs to power an advanced search engine that can interpret natural language queries and deliver precise answers or content from your website. Unlike traditional search engines that rely on keyword matching, LLMs can understand the context of user queries for more accurate results.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark"> Educational Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            A student might type, “What is the main concept of relativity?” and the LLM-powered search can pull the most relevant explanation from thousands of pages of educational content.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Legal Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Users can input complex legal questions, and the system will retrieve the most relevant case studies, articles, or law documents.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Provide highly accurate, context-driven search results.
                                    </li>
                                    <li class="text-base font-medium">
                                        Improve the efficiency of knowledge discovery on large content websites.
                                    </li>
                                    <li class="text-base font-medium">
                                        Make user interaction more intuitive with natural language capabilities.
                                    </li>
                                </ol>
                            </div>
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/advanced-search.png' %} alt="dashboard image">
                            </div>
                        </div>
                    </section>

                    <section class="bg-gray-50 backdrop-blur-2xl backgrond-clip dark:bg-gray-900 border rounded-2xl sm:px-2 px-4">
                        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                            <div>
                                <img class="w-full dark:hidden" src={% static 'img/landing_page_img/multilingual-support-usecase.png' %}>
                            </div>
                            <div class="mt-4 md:mt-0 text-start">
                                <h3 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                                    Multilingual Support for Global Websites</h3>
                                <p class="mb-6 font-medium text-gray-500 md:text-lg dark:text-gray-400">
                                    Leverage LLM technology to provide real-time translation or answer queries in multiple languages. This can enable businesses to cater to an international audience without needing separate content or pages for each language.
                                </p>
                                <h6 class="text-lg font-bold mb-3"> Example: </h6> 
                            
                                <ol class="space-y-4 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Tourism Websites</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            Tourists from around the world can interact with the website in their native language and receive personalized information about travel packages or destinations.
                                        </div>
                                    </li>
                                    <li>
                                        <span class="text-md text-black font-semibold font-dark">Global Retailers</span>
                                        <div class="ps-5 mt-2 space-y-1 text-base text-gray-700">
                                            International customers can ask questions about products, shipping policies, or warranties in their preferred language, enhancing the shopping experience.
                                        </div>
                                    </li>
                                </ol>

                                <h6 class="text-lg font-bold mb-3"> Benefits: </h6> 
                                <ol class="space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 mb-5">
                                    <li class="text-base font-medium">
                                        Reach a broader global audience with minimal extra effort.
                                    </li>
                                    <li class="text-base font-medium">
                                        Improve the user experience for non-native speakers.
                                    </li>
                                    <li class="text-base font-medium">
                                        Foster inclusivity by breaking down language barriers.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </section>


                </div>
            </div>

        </div>
    </section>

{% endblock content %}