{% extends "base.html" %}

{% load static %}

{% block content %}
    <style>
        h2{
            margin-bottom: 20px;
            margin-top: 60px;
        }
        .indent{
            text-indent: 50px;
        }
        p{
            font-size: 1.2rem;
            line-height: 220%;
            text-wrap: pretty;
        }

        /* li{
            margin-bottom: 20px;
        } */
    </style>


    <div class="container-fluid p-0">
        <div class="w-100 bg-white px-4 py-5">
            <div class="text-center pb-3 pt-5">
                <h6 class="text-dark text-uppercase" style="letter-spacing: 5px;">Services</h6>
                <h1>Visa Guides</h1>
            </div>
    
            <div class="w-100">
                <div class="container pb-3">

                    <div class="row mt-4">
                        {% for country in countries %}
                            <div class="col-lg-4 col-md-6 mb-4">
                                <a href="/visa_assistance/{{ country.pk }}" class="h-100 rounded-xl shadow-sm guide-item p-3 card position-relative overflow-hidden mb-2 text-decoration-none">
                                    <img class="img-fluid" style="border-radius: 20px; height: 230px;" src="{{ country.img.url }}"  alt="">
                                    <div class="card-body px-2 pb-0 text-decoration-none" href="">
                                        <h5 class="">{{ country.country }} visa Guide</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}